section .roadmap-schedule {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 0.3em;
  width: 80px;
  text-align: center;
  justify-content: center;
  line-height: 50px;
}

section .roadmap-schedule:hover {
  background: #272a44;
  color: #fff;
}

section .roadmap-calendar {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 0.3em;
  height: 50px;
  width: 80px;
  text-align: center;
  justify-content: center;
  line-height: 50px;
}

section .roadmap-calendar:hover {
  background: #272a44;
  z-index: 0;
  color: #fff;
}

.search-form {
  display: flex;
  height: 40px;
}

.search-form {
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}

.search-form input[type="submit"] {
  width: 6em;
  border: 0;
  border-radius: 0.3em;
  font-size: 0.5rem;
  background: #272a44;
  color: #fff;
  text-align: center;
  justify-content: center;
  line-height: 20px;
}

/* calendar */
.calendar-position {
  position: absolute;
  margin-top: -30px;
  margin-left: -2px;
}

.cal_top {
  text-align: center;
  font-size: 10px;
  padding: 10px 0px;
  height: 15px;
  height: px;
}
.cal {
  text-align: center;
}
table.calendar {
  border: 1px solid black;
  display: inline-table;
  text-align: left;
}
table.calendar td {
  vertical-align: top;
  border: 1px solid skyblue;
  width: 80px;
}
