#login {
    width: 460px;
    margin: 0px auto;
}

#login h1 {
    font-size: 44px;
    text-align: center;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 60px;
}

.loginForm input {
    position: relative;
    float: left;
    height: 50px;
    border: 1px solid gray;
    width: 94%;
    padding-left: 10px;
    margin: 0 2%;
    margin-bottom: 30px;
}

.loginBtn {
    width: 96%;
    height: 50px;
    margin: 0 2%;
    background-color: #272a44;
    color: #fff;
    font-size: 20px;
}

.findIdPwd {   
    float: right;
    margin: 0 2%;
    margin-top: 10px;
}

hr {
    width: 460px;
    height: 1px;
    background-color: rgb(151, 151, 151);
    margin: 3px;
}

.otherLoginBtn{
    margin-top: 30px;
}

.otherLoginBtn button{
    width: 96%;
    height: 50px;
    margin: 0 2%;
    font-size: 20px; 
    margin-top: 5px;
}

.otherLogin1 {
    background-color: #EE4A4A;
    color: white;
}

.otherLogin2 {
    background-color: #FAFA39;
    color: black;
}

#mainNav {

}

#mainNav li{
    float: left;
    position: relative;
    margin: 15px 30px;
}

#mainNav li:first-child a {
    font-size: 30px;
    font-weight: 500;
}

#mainNav li:nth-child(n+2) {
    float: right;
}

