.memberList {
    display: none;
}
.search {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    float: right;
} 
.memberTeam {
    margin-bottom: 10px;
}
.memberList li{
    margin: 10px 20px;
}
.memberList img {
    width: 15px;
    margin-right: 10px;
}
.searchMember th{
    background-color: white;
}
.searchMember th img{
    width: 15px;
}
.memberTab button{
    width: 80px;
    height: 30px;
    margin-top: 15px;
    border-radius: 10px;
    background-color:#272a44;
    color: white;
}
.memberTab button:hover{
    background-color: #ff8400;
    color: white;
}
.memberTab {
    border-bottom: 1px solid #ddd;
}