#joinFormHeader {
    width: 460px;
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

#joinFormHeader h1 {
    font-size: 44px;
    text-align: center;
    font-weight: bold;
}

#signup {
    width: 460px;
    margin: 0px auto;
}

.signupForm input {
    position: relative;
    float: left;
    height: 50px;
    border: 1px solid gray;
    width: 94%;
    padding-left: 10px;
    margin: 0 2%;
    margin-bottom: 30px;
}

.dateOfBirth label {
    padding-left: 10px;
}

.dateOfBirth input {
    border: 1px solid gray;
    width: 26.1%;
    height: 50px;
    margin: 0 2%;
    margin-bottom: 30px;
    padding-left: 10px;
}

.signupBtn button{
    width: 96%;
    height: 50px;
    margin: 0 2%;
    background-color: #272a44;
    color: #fff;
    font-size: 20px;
}
