
/* 약관동의 화면(joinForm.html) */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#joinFormHeader {
    width: 460px;
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

#joinFormHeader h1 {
    font-size: 44px;
    text-align: center;
    font-weight: bold;
}

#joinForm {
    width: 460px;
    margin: 0px auto;
    border: 1px solid #ddd;
}

ul.join_box {
    background-color: white;
}

.checkBox,.checkBox>ul {
    position: relative;
}

.checkBox ul li {
    float: left;
}

#checkAllContent {
    font-size: 1.15em;
}

.checkBox ul li:first-child {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 20px;
}

.checkBox ul li:nth-child(2) {
    margin-left: 7%;
    font-weight: 500;
    padding: 15px;
    font-size: 1.1em;
}

.checkBox textarea {
    width: 96%;
    height: 90px; 
    margin: 0 2%;
    background-color: #f7f7f7;
    color: #888;
    border: none;
}

.footBtwrap { 
    margin-top: 15px;
}

.footBtwrap li {
    float: left;
    width: 50%;
    height: 60px;
}



.footBtwrap li button, .footBtwrap li button a {
    display: block; 
    width: 100%;
    height: 100%; 
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    border-radius: 60px;
}

.fpmgBt1 a {
    background-color: #ff8400;
    color:#fff;
}

.fpmgBt2 a {
    background-color: #272a44;
    color: #fff;
}




/* 회원가입 화면(signup.html) */




#joinFormHeader {
    width: 460px;
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

#joinFormHeader h1 {
    font-size: 44px;
    text-align: center;
    font-weight: bold;
}

#signup {
    width: 460px;
    margin: 0px auto;
}

.signupForm input {
    position: relative;
    float: left;
    height: 50px;
    border: 1px solid #ddd;
    width: 94%;
    padding-left: 10px;
    margin: 0 2%;
    margin-bottom: 30px;
}

.checkId {
	width: 30%;
    height: 30px;
    margin: 0 2%;
    background-color: #272a44;
    color: #fff;
    font-size: 20px;		
}

.dateOfBirth label {
    padding-left: 10px;
}

.dateOfBirth input {
    border: 1px solid #ddd;
    width: 26.1%;
    height: 50px;
    margin: 0 2%;
    margin-bottom: 30px;
    padding-left: 10px;
}

.signupBtn{
    width: 96%;
    height: 50px;
    margin: 0 2%;
    background-color: #272a44;
    color: #fff;
    font-size: 20px;
}




/* 로그인 화면(mainPage.html) */




#login {
    width: 460px;
    margin: 0px auto;
}

#login h1 {
    font-size: 44px;
    text-align: center;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 60px;
}

.loginForm input {
    position: relative;
    float: left;
    height: 50px;
    border: 1px solid #ddd;
    width: 94%;
    padding-left: 10px;
    margin: 0 2%;
    margin-bottom: 30px;
}

.loginBtn {
    width: 96%;
    height: 50px;
    margin: 0 2%;
    background-color: #272a44;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
}

.findIdPwd {   
    float: right;
    margin: 0 2%;
    margin-top: 10px;
}

.otherLoginBtn{
    margin-top: 30px;
}

.otherLoginBtn button{
    width: 96%;
    height: 50px;
    margin: 0 2%;
    font-size: 20px; 
    margin-top: 5px;
    border-radius: 50px;
}

.otherLogin1 {
    background-color: #EE4A4A;
    color: white;
}

.otherLogin2 {
    background-color: #FAFA39;
    color: black;
}


.login {
    cursor: pointer;
}

.homePage a {
	float: left;
    position: relative;
    margin: 15px 30px;
    font-size: 30px;
    font-weight: 500;
}

.snsLink, .login, .client, .logout{
    float: right;
    margin: 15px 30px;
}

/* 팝업 */

/******************* 팝업 *******************/
.popup {
    display: none;
    position: fixed;
    width: 460px;
    min-height: 300px;
    max-height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: white;
}

.darkBack {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .6;
    z-index: 10;
    top: 0px;
}

.popup dt {
    padding: 20px 25px;
    background: #272a44;
    font-weight: 400;
    color: white;
    font-size: 18px;
}

.popup dt a {
    color: white;
    float: right;
}

.popup dd {
    padding: 20px 25px;
}

.popup .btnBox {
    display: inline-block;
    text-align: center;
    font-size: 0;
    margin-top: 20px;
    width: 100%;
}

.popup .btnBox a {
    display: inline-block;
    width: 20%;
    height: 44px;
    line-height: 44px;
    color: white;
    background: #272a44;
    font-size: 18px;
    text-align: center;
    border-radius: 44px;
}

.popup .btnBox.set2 a{
    width: 48%;
}

.popup .btnBox.set2 a:last-child(2) {
    margin-left: 2%;
    background: #ff8400;
    font-weight: 500;
}


.listItem li::before {
    content: "\2022";
    font-size: 16px;
    color: black;
    font-weight: bold;
    display: inline-block; 
    width: 16px;
}

.listItem li.import a, .listItem li.import a *{
    font-weight: 500;
}

.listItem li.import::before {
    content: "\2022";
    font-size: 16px;
    color: #ff8400;
    font-weight: bold;
    display: inline-block; 
    width: 16px;
}