
.confirmTabMenu .tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

.confirmTabMenu .tabs li {
    float: left;
}

.confirmTabMenu .tab_content table td:nth-child(5){
	text-align: left;
}

.confirmTabMenu .tabs li a {
    display: inline-block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    transition: 0.11s;
}

.confirmTabMenu #mess {
    cursor: pointer;
}

.confirmTabMenu .tabs .active a{
    background-color: #fd9f3b;
    color: #fff;
    font-weight: 500;
}

#penimg
{ cursor:pointer;
	
}

