* { margin: 0;
	padding: 0;
	border: 0;
    font-size: 16px;
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif !important;
	font-weight: 300;
    letter-spacing:-0.025em;
    line-height: 100%;
    color: #333;
    vertical-align: baseline;
    text-decoration: none; 
}

::-webkit-scrollbar { height:3px; width:3px; }
::-webkit-scrollbar-track { background: #fff; }
::-webkit-scrollbar-thumb { background: #ccc; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, button, select{
	outline: none;
}
input[type="button"], button{
	cursor: pointer;
}