<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RoadmapMapper">

	<insert id="insertProject" parameterType="com.spring.withwork.vo.ProjectVO">
		insert into project(p_num, c_num, name, m_num, startdate, enddate, regdate, status, subject, content)
			values(project_seq.nextval, #{c_num}, #{name}, #{m_num} 
        	, #{startDate}, #{endDate}, sysdate, #{status}, #{subject}, #{content} )
	</insert>
	
	<select id="prjList" resultType="com.spring.withwork.vo.ProjectVO">	
		select p.p_num, p.name, p.status, p.subject, p.startdate, p.enddate, p.content, g.g_name, p.m_num
		from project p, guest g, member m
		where p.m_num = m.m_num and m.g_num = g.g_num
	</select>
	
	<select id="searchProject" parameterType="com.spring.withwork.vo.SearchProject"
								resultType="com.spring.withwork.vo.ProjectVO">
		select p.p_num, p.name, p.status, p.subject, p.startdate, p.enddate, p.content, g.g_name, p.m_num
		from project p, guest g, member m
		where p.m_num = m.m_num and m.g_num = g.g_num
		
		<choose>
			<when test='type.equals("P")'>
				and (p.name like '%' || #{keyword} || '%')	
			</when>
			<when test='type.equals("M")'>
				and (g.g_name like '%' || #{keyword} || '%')		
			</when>
		</choose>
	</select>
	
	<select id="getPrj" resultType="com.spring.withwork.vo.ProjectVO" parameterType="string">
		select p.p_num, p.name, p.status, p.subject, p.startdate, p.enddate, p.content, g.g_name, p.m_num
		from project p, guest g, member m
		where p.m_num = m.m_num and m.g_num = g.g_num and p_num = #{p_num}
	</select>
	
	<select id="managerList" resultType="com.spring.withwork.vo.ProjectVO" parameterType="int">
		select g.g_name, m.m_num
		from guest g, member m
		where g.g_num = m.g_num and authority = '관리자' and m.c_num = #{c_num}
	</select>
	
	<update id="updateProject" parameterType="com.spring.withwork.vo.ProjectVO">
		update project set 
		name = #{name},
		m_num = #{m_num},
		startdate = #{startDate},
		enddate = #{endDate},
		status = #{status},
		subject = #{subject},
		content = #{content}
		where p_num = #{p_num}
	</update>
	 
</mapper>












