/* --------------------roadmap/schedule header-------------------- */
.roadMapNav{
  font-size: 0;
}

.roadMapNav li{
  display: inline-block;
}

.roadMapNav li a{
  display: inline-block;
  padding: 15px;
}

.roadMapNav li.active a{
  font-weight: 500;
  color: #fff;
  background: #fd9f3b;
}

.roadMapCont > div{
  display: none;
}

.progress .roadMapSearch{
  display: inline-block;
  width: 100%;
  text-align: right;
}

.roadMapSearch input, .roadMapSearch select{
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

.roadMapState {
  overflow: hidden;
}

.roadMapState .stateForm{
  float: left;
  width: 32%;
  margin-right: 2%;
}

.roadMapState .stateForm:last-child{
  margin-right: 0;
}

.stateForm > dt {
  height: 30px;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-size: auto 16px;
  background-position: left top;
  font-weight: 400;
}

.stateForm > dd{
	height: 390px;
	overflow: auto;
}

.stateForm > dt.waiting{
  background-image: url(../img/wait.png);
}

.stateForm > dt.starting{
  background-image: url(../img/start.png);
}

.stateForm > dt.stopping{
  background-image: url(../img/stop.png);
}

.stateForm > dd > a{
	display: inline-block;
	width: 100%;
  	margin-bottom: 10px;
}

.stateForm > dd > a:last-child{
	margin-bottom: 0;
}

.stateForm .projectThumb:hover{
  background: url(../img/projectMore.png) no-repeat center center;
  background-size: auto 60%;
  background-color: #ddd;
}

.stateForm .projectThumb:before{
  content: "";
  
}

.stateForm .projectThumb{
  border: 1px solid #ddd;
  padding: 10px 10px;
}

.stateForm .projectThumb dt{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
  padding-left: 25px;
  background: url(../img/projectThumb.png) no-repeat left center;
  background-size: 20px;
}

.stateForm .projectThumb dd{
  margin-bottom: 10px;
  font-size: 14px;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
  font-weight: 400;
}

.stateForm .projectThumb dd:last-child{
  margin-bottom: 0;
  font-weight: 300;
}

.workDetail td{
	text-align: left;
}

.workDetail textarea{
	width: 100%;
}


/* ---------------------calendar  main----------------------*/
.scriptCalendar {
  width: 100%;
}

.scriptCalendar caption{
  margin-bottom: 30px;
}

.scriptCalendar caption span{
  font-size: 20px;
}

.scriptCalendar caption a{
  margin: 0 20px;
}

.scriptCalendar caption a img{
  height: 14px;
}

.scriptCalendar td{
  width: calc(100% / 7);
  border-bottom: 1px solid #ddd;
}

.scriptCalendar thead td{
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ddd;
  font-weight: 500;
}

.scriptCalendar thead td:first-child{
  color: #ff8400;
}

.scriptCalendar thead td:last-child{
  color: blue;
}

.scriptCalendar tbody td {
  height: 100px;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.scriptCalendar td:last-child{
  border-right: 0;
}


.CalendarInfo {
  position: relative;
  right: 1000px;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

/* ---------------------------------------- modal ----------------------------------- */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.dialog {
  width: 50vw;
  padding: 2em;
  border-radius: 1em;
  background: white;
}

/* -----------------------------------modal------------------------------------------- */
.modal {
  display: none;
  top: px;
}
#modal-switch:checked ~ .modal {
  display: flex;
}
label[for="modal-switch"] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* top: 1.3rem; */
  /* right: 1rem; */
  /* z-index: 100; */
  width: 40px;
  height: 40px;
  cursor: pointer;
  /* background: red; */
}

label[for="modal-switch"]:before {
  font-size: 2rem;
  cursor: pointer;
}
#modal-switch:checked ~ label[for="modal-switch"]:before {
  color: dodgerblue;
}
#modal-switch,
label[for="modal-switch"] span {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}
